
.idea/checkstyle-idea.xml
.idea/discord.xml
.idea/misc.xml
.idea/workspace.xml
Day 05/ex_01/index.html
Day 05/ex_02/index.html
Day 05/ex_03/index.html
Day 05/ex_04/index.html
Day 05/ex_05/index.html
Day 05/ex_06/index.html
Day 05/ex_07/index.html
Day 05/ex_08/index.html
Day 05/ex_08/Samsung.txt
Day 05/ex_08/Samsung22.png
Day 05/ex_09/index.html
Day 05/ex_09/style.css
Day 05/given.css
Day 05/Iphone22.png
Day 05/rename.sh
Day 07/ex_07/style.css
Day 07/ex_07/index.html
Day 07/ex_06/style.css
Day 07/ex_06/index.html
Day 07/ex_04/twitter-heart.png
Day 07/ex_04/style.css
Day 07/ex_04/index.html
Day 07/ex_04/plus.svg
Day 07/ex_04/minus.svg
Day 07/ex_04/item-3.jpg
Day 07/ex_04/item-2.png
Day 07/ex_04/item-1.png
Day 07/ex_04/delete-icn.svg
Day 07/ex_02/style.css
Day 07/ex_02/index.html
Day 07/ex_01/style.css
Day 07/ex_01/index.html
Day 06/ex_04/style.css
Day 06/ex_04/index.html
Day 06/ex_03/style.css
Day 06/ex_03/index.html
Day 06/ex_01/style.css
Day 06/ex_01/index.html
